# 1. 50MHz 主时钟约束
NET "clk_50m" LOC = B8 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "clk_50m" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50 MHz HIGH 50%;

# 2. 开关与按键输入
NET "cr"           LOC = P11 | IOSTANDARD = LVCMOS33; # SW0
NET "adjust"       LOC = L3  | IOSTANDARD = LVCMOS33; # SW1
NET "min_hour_set" LOC = K3  | IOSTANDARD = LVCMOS33; # SW2
NET "btn_add"      LOC = G12 | IOSTANDARD = LVCMOS33; # BTN0

# 3. 四位数码管段选输出 (CA~CG)
NET "seg[6]" LOC = L14 | IOSTANDARD = LVCMOS33; # CA
NET "seg[5]" LOC = H12 | IOSTANDARD = LVCMOS33; # CB
NET "seg[4]" LOC = N14 | IOSTANDARD = LVCMOS33; # CC
NET "seg[3]" LOC = N11 | IOSTANDARD = LVCMOS33; # CD
NET "seg[2]" LOC = P12 | IOSTANDARD = LVCMOS33; # CE
NET "seg[1]" LOC = L13 | IOSTANDARD = LVCMOS33; # CF
NET "seg[0]" LOC = M12 | IOSTANDARD = LVCMOS33; # CG

# 4. 四位数码管位选输出 (AN3~AN0)
NET "an[3]" LOC = K14 | IOSTANDARD = LVCMOS33; # AN3
NET "an[2]" LOC = M13 | IOSTANDARD = LVCMOS33; # AN2
NET "an[1]" LOC = J12 | IOSTANDARD = LVCMOS33; # AN1
NET "an[0]" LOC = F12 | IOSTANDARD = LVCMOS33; # AN0

# 5. 8位 LED 输出 (LD7~LD0) 
NET "led[7]" LOC = G1  | IOSTANDARD = LVCMOS33;
NET "led[6]" LOC = P4  | IOSTANDARD = LVCMOS33;
NET "led[5]" LOC = N4  | IOSTANDARD = LVCMOS33;
NET "led[4]" LOC = N5  | IOSTANDARD = LVCMOS33;
NET "led[3]" LOC = P6  | IOSTANDARD = LVCMOS33;
NET "led[2]" LOC = P7  | IOSTANDARD = LVCMOS33;
NET "led[1]" LOC = M11 | IOSTANDARD = LVCMOS33;
NET "led[0]" LOC = M5  | IOSTANDARD = LVCMOS33;